:root {
    background-color: rgb(84, 112, 84);
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: flex-start;
}

header {
    padding: 45px;
    text-align: end;
    background-color: rgb(30, 80, 50);
    color: rgb(84, 112, 84);
    
}

header nav ul li {
    display: inline-block;
    font-size: 32px;
    
}

a {
    color: rgb(84, 112, 84);
    text-decoration: none;
    
}

.avatar {
    height: 500px;
    width: 100%;
    background-image: url(./images/DALL·E.png);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    border-style: inset;
    border-color:  rgb(93, 139, 93)  rgb(24, 65, 40) rgb(30, 80, 50) rgb(91, 173, 122) ;
    border-width: 1em;
    border-radius: 1em;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 20;
    
    
}

.projects {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
    
}

.cards {
    align-items: center;
    border-width: 5px;
    padding: 10px;
    max-height: 500px;
    width: 48%;
    margin: 10px;
    margin-bottom:25px;
    background-color: rgb(238, 230, 209);
    border-style: inset;
    border-color:  rgb(93, 139, 93)  rgb(24, 65, 40) rgb(30, 80, 50) rgb(91, 173, 122) ;
    border-width: 1em;
    border-radius: 1em;
    
    
}

.cards img {
    max-height: 450px;
    max-width: 450px;
    
   
}

#card1 {
    
}
