:root {
    background-color: rgb(84, 112, 84);
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: flex-end;
    
}

header {
    padding: 45px;
    text-align: end;
    background-color: rgb(30, 80, 50);
    color: rgb(84, 112, 84);
    
}

header nav ul li {
    display: inline-block;
    font-size: 32px;
    margin-left: 20px;
    transition: 0.3s ease;
    
}

header nav ul li:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
} 



a {
    color: rgb(84, 112, 84);
    text-decoration:none;
    
}


.avatar {
    height: 500px;
    width: 100%;
    background-image: url(./images/DALL·E.png);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    border-style: inset;
    border-color:  rgb(93, 139, 93)  rgb(24, 65, 40) rgb(30, 80, 50) rgb(91, 173, 122) ;
    border-width: 1em;
    border-radius: 1em;
}

.aboutme {
    font-size: larger;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: px;
    margin:20px;
    line-height: 1.5em;
    background-color: rgb(238, 230, 209);
    border-style: inset;
    border-color:  rgb(93, 139, 93)  rgb(24, 65, 40) rgb(30, 80, 50) rgb(91, 173, 122) ;
    border-width: 10px;
    border-radius: 1em;
    color:rgb(30, 80, 50)
}


.projects {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}


.cards {
    align-items: center;
    border-width: 1px;
    padding: 10px;
    max-height: 500px;
    width: 48%;
    margin: 10px;
    margin-bottom:25px;
    background-color: rgb(238, 230, 209);
    border-style: inset;
    border-color:  rgb(93, 139, 93)  rgb(24, 65, 40) rgb(30, 80, 50) rgb(91, 173, 122) ;
    border-width: 1em;
    border-radius: 1em;
    transition:  .3s ease;
}

.pdesc {
    font-size: 18px;
    line-height: 125%;
    margin: 15px;
    padding: 25px;

}

.cards:hover {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
}

.cards img {
    max-height: 450px;
    max-width: 450px;
    float: left;
    
    
    
}

footer{
    font-size: 32px;
    text-align: center;
    color: rgb(30, 80, 50);
    transform:
}

.cont{
 
    color: rgb(238, 230, 209);


    
}


@media screen and (max-width: 1016px) {
    header {
        padding: 30px;
        
    }

    header nav ul li {
        font-size: 24px;
    }

    .aboutme {
        font-size: small;
        padding: 5px;
    }

    .avatar{
        height: 200px;
    }

    .cards {
        width:98%;
    }

    .pdesc {
        font-size: 12px;
        line-height: normal;
        margin: 15px;
        padding: 5px;
    }

    .cards img {
        max-height: 200px;
        max-width: 200px;
    }
    footer {
        font-size: 14px;
    }
    
}
